::-webkit-scrollbar {
  width: 0px;
}


:root body {
  min-width: 400px;
}

:root body,
:root.mobile body {

  font-size: 14px;
  line-height: 20px;
}

:root body.loading {
  opacity: 0;
}

a {
  color: var(--ink-1);
  fill: var(--ink-1);
  text-decoration: none;
}

:focus {
  outline: 0;
}


html {
  scrollbar-width: none;
}

body {
  font-size: 14px;
  height: 725px;

  font-family: Arial, Helvetica, sans-serif;

  margin-top: 13.5rem;

  color: #999;
  text-align: center;
  /* img size is 50x50 */
  background: url("../assets/square.png") repeat 0px 0px;

  -webkit-animation: bg-scrolling-reverse .92s infinite; /* Safari 4+ */
  -moz-animation:    bg-scrolling-reverse .92s infinite; /* Fx 5+ */
  -o-animation:      bg-scrolling-reverse .92s infinite; /* Opera 12+ */
  animation:         bg-scrolling-reverse .92s infinite; /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function:    linear;
  -o-animation-timing-function:      linear;
  animation-timing-function:         linear;


}


.container ul {
  list-style: none;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 1px 100px;
  color: #000000;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
}

.container ul:before {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  border-left: 2px dashed #ffffff;

}

.container ul li {
  position: relative;
  margin-left: 30px;
  padding: 14px;
  border-radius: 6px;
  width: 250px;
}

.container ul li:not(:first-child) {
  margin-top: 60px;
}

.container ul li>span {
  width: 2px;
  height: 100%;
  background: rgb(0, 0, 0);
  left: -30px;
  top: 0;
  position: absolute;
}

.container ul li>span:before,
.container ul li>span:after {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid rgb(0, 0, 0);
  position: absolute;
  background: #ffffff;
  left: -5px;
  top: 0;
}

.container ul li span:after {
  top: 100%;
}

.container ul li>div {
  margin-left: 10px;
}

.container div .title,
.container div .type {
  font-weight: 600;
  font-size: 12px;
}

.container div .info {
  font-weight: 300;
}

.container div>div {
  margin-top: 5px;
}

.container span.number {
  height: 100%;
  color: rgb(0, 0, 0);
}

.container span.number span {
  position: absolute;
  font-size: 14px;
  left: -45px;
  font-weight: bold;
}

.container span.number span:first-child {
  top: 0;
}

.container span.number span:last-child {
  top: 100%;
}

.flow {
  display: inline-block;
  width: auto;
  background-color: hsla(0, 0%, 0%, 0.685);
  color: rgb(255, 255, 255);
  border-radius: 7px;
  margin: 2%;
  padding: 4%;
  box-shadow: 0 0 4px rgba(26, 112, 161, 0.12), 0 2px 2px rgba(0, 0, 0, .08);
}

.date {
  font-size: xx-large;
  background-color: hsla(0, 0%, 0%, 0.685);
  color: rgb(255, 255, 255);
  text-shadow:
      1px 0px 1px rgb(36, 36, 36), 0px 1px 1px rgb(77, 77, 77),
      2px 1px 1px rgb(36, 36, 36), 1px 2px 1px rgb(77, 77, 77),
      3px 2px 1px rgb(36, 36, 36), 2px 3px 1px rgb(77, 77, 77),
      4px 3px 1px rgb(36, 36, 36), 3px 4px 1px rgb(77, 77, 77),
      5px 4px 1px rgb(36, 36, 36), 4px 5px 1px rgb(77, 77, 77),
      6px 5px 1px rgb(36, 36, 36), 5px 6px 1px rgb(77, 77, 77),
      7px 6px 1px rgb(36, 36, 36);
}

#tobtn {
  display: block;
  position: fixed;
  bottom: 5%;
  right: 1%;
  z-index: 99;
  font-size: 16px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  border-radius: 12px;
  background-color: hsla(0, 0%, 0%, 0.7);
  width: 55px;
  height: 55px;
  text-align: center;
  border: 1px;
}

.title {
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
  font-size-adjust: var(--popup-main-min-width);
}

.third {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fleft {
  text-align: right;
}
.logo {
  top:3%;
  left: 2%;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 40 40;
  margin-top: 2%;
  fill: none;
  position: fixed;
  z-index: 99;
  cursor: pointer;
  background-color: hsla(0, 0%, 0%, 0.7);
  padding: 2%;
  border-radius: 8px;

}

#settings_ico {
  top:3%;
  right: 1%;
  height: 40px;
  width: 40px;
  filter: invert();
  background-color: hsl(0, 0%, 100%);
  fill:none;
  position: fixed;
  z-index: 99;
  cursor: pointer;
  padding: 1%;
  border-radius: 8px;
  opacity: 0.7;
}
.centertext{
  text-align: center;
}
#navDay{
  align-content: center;
  list-style-type: none;
  position: fixed;
  background-color: hsla(0, 0%, 0%, 0.712);
  cursor: pointer;
  border-radius: 8px;
  width: 55px;
  top: 13%;
}
.days{
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  color: #000;
  background-color: hsl(0, 0%, 100%);
  width: 45px;
  height: 45px;
  z-index: 99;
  border-radius: 8px;
  margin-left: 8%;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0 0 4px rgba(26, 112, 161, 0.12), 0 2px 2px rgba(0, 0, 0, .08);
}

#guide_arrow {
  display: none;
  align-content: center;
  display: block;
  list-style-type: none;
  position: fixed;
  background-color: hsla(0, 0%, 100%, 0.712);
  border-radius: 8px;
  width: 50px;
  height: 50px;
  top: 3%;
  right: 14%;
  opacity: 0.9;
}